.ac-game-menu {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.gif");
    background-size: 100% 100%;
    user-select: none;
}

.ac-game-menu-field {
    width: 20vw;
    position: relative;
    top: 20vh;
    left: 77vw;
}

.ac-game-menu-field-item {
    
    color: white;
    height: 6vh;
    width: 17vw;
    font-size: 4vh;
    font-style: italic;
    padding: 2vh;
    cursor: pointer;
    text-align: center;
    background-color: rgba(188,142,237, 0.8);
    border-radius: 66px;
    letter-spacing:0.1vw;
}

.ac-game-menu-field-item:hover {
    transform: scale(1.2);
    transition: 100ms;
}
